.dashboard-container {
	display: grid;
	justify-items: center;

	.tiles {
		display: grid;
		justify-content: center;
		justify-items: center;
		align-items: center;
		width: 100%;
		.tile {
			width: 100%;
			font-size: 30px;
			display: grid;
			justify-items: center;
			align-content: center;
			justify-items: center;
			min-height: 100px;
			margin-bottom: 20px;
			padding: 10px;
		}
	}
}

.green {
	color: #00c853;
}
.yellow {
	color: #fbc02d;
}
.red {
	color: #e53935;
}
